*{
   font-family: sans-serif;
}

.header{
   border-bottom: 1px solid black;
   width: 100%;
   height: auto;
}
.content{
   margin-left: 5px;
}
a{
   color: black;
   text-decoration: none;
}

table, th, td {
	border:1px solid black;
}
.container{
   border: 1px solid black; 
   height: auto; 
   width: 300px;
   padding: 20px;

}
.delete{
   text-align: left;
}

.ListOfChefs{
   display: grid;
   height: auto;
   row-gap: 20px;
   grid-template-columns: auto auto auto auto;
}
img{
   height: auto;
   width: 100px;
}
.dltbtn{
   margin-left: 240px;
}
.dltbtn input[type=submit] {
   border: none;
   background-color: red;
   color: white;
   font-family: Georgia;
   cursor: pointer;
}
.ebtn input[type=submit]{
   border: none;
   background-color: #4188db;
   color: white;
   font-family: Georgia;
   cursor: pointer;
}

textarea {
   width: 80%;
   min-height: 100px;
   padding: 10px;
   font-size: 16px;
   line-height: 1.5;
   border-radius: 5px;
   resize: vertical;
}


form label {
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
}



.dishes{
   display:none; 
   margin-top:20px;
}